@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@100&display=swap');

body {
   background-image: url('data:image/svg+xml,<svg width="727" height="456" viewBox="0 0 727 456" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="28" y="27" width="699" height="429" rx="15" fill="%23D2C9C9" fill-opacity="0.27"/><rect x="13" y="12" width="699" height="429" rx="15" fill="%23D2C9C9" fill-opacity="0.27"/><rect width="699" height="429" rx="15" fill="%23FDFDFD"/><path d="M0 15C0 6.71573 6.71573 0 15 0H684C692.284 0 699 6.71573 699 15V39H0V15Z" fill="%23D9D9D9"/><circle cx="20.5" cy="19.5" r="7.5" fill="%23F40E0E"/><circle cx="54.5" cy="19.5" r="7.5" fill="%23F1C321"/><circle cx="88.5" cy="19.5" r="7.5" fill="%232EC216"/><path d="M311.458 61.5881V58.5455H325.793V61.5881H320.449V76H316.801V61.5881H311.458Z" fill="%232099DD"/><path d="M344.194 67.2727C344.194 69.1761 343.833 70.7955 343.111 72.1307C342.395 73.4659 341.418 74.4858 340.179 75.1903C338.946 75.8892 337.56 76.2386 336.02 76.2386C334.469 76.2386 333.077 75.8864 331.844 75.1818C330.611 74.4773 329.637 73.4574 328.921 72.1222C328.205 70.7869 327.847 69.1705 327.847 67.2727C327.847 65.3693 328.205 63.75 328.921 62.4148C329.637 61.0795 330.611 60.0625 331.844 59.3636C333.077 58.6591 334.469 58.3068 336.02 58.3068C337.56 58.3068 338.946 58.6591 340.179 59.3636C341.418 60.0625 342.395 61.0795 343.111 62.4148C343.833 63.75 344.194 65.3693 344.194 67.2727ZM340.452 67.2727C340.452 66.0398 340.267 65 339.898 64.1534C339.534 63.3068 339.02 62.6648 338.355 62.2273C337.691 61.7898 336.912 61.571 336.02 61.571C335.128 61.571 334.35 61.7898 333.685 62.2273C333.02 62.6648 332.503 63.3068 332.134 64.1534C331.77 65 331.588 66.0398 331.588 67.2727C331.588 68.5057 331.77 69.5455 332.134 70.392C332.503 71.2386 333.02 71.8807 333.685 72.3182C334.35 72.7557 335.128 72.9744 336.02 72.9744C336.912 72.9744 337.691 72.7557 338.355 72.3182C339.02 71.8807 339.534 71.2386 339.898 70.392C340.267 69.5455 340.452 68.5057 340.452 67.2727Z" fill="%23E61616"/><path d="M359.865 76H353.677V58.5455H359.916C361.672 58.5455 363.183 58.8949 364.45 59.5938C365.717 60.2869 366.691 61.2841 367.373 62.5852C368.061 63.8864 368.404 65.4432 368.404 67.2557C368.404 69.0739 368.061 70.6364 367.373 71.9432C366.691 73.25 365.711 74.2528 364.433 74.9517C363.16 75.6506 361.637 76 359.865 76ZM357.368 72.8381H359.711C360.802 72.8381 361.72 72.6449 362.464 72.2585C363.214 71.8665 363.777 71.2614 364.152 70.4432C364.532 69.6193 364.723 68.5568 364.723 67.2557C364.723 65.9659 364.532 64.9119 364.152 64.0938C363.777 63.2756 363.217 62.6733 362.473 62.2869C361.728 61.9006 360.811 61.7074 359.72 61.7074H357.368V72.8381Z" fill="%23F4CF0B"/><path d="M387.178 67.2727C387.178 69.1761 386.817 70.7955 386.096 72.1307C385.38 73.4659 384.402 74.4858 383.164 75.1903C381.931 75.8892 380.544 76.2386 379.005 76.2386C377.453 76.2386 376.061 75.8864 374.828 75.1818C373.596 74.4773 372.621 73.4574 371.905 72.1222C371.189 70.7869 370.831 69.1705 370.831 67.2727C370.831 65.3693 371.189 63.75 371.905 62.4148C372.621 61.0795 373.596 60.0625 374.828 59.3636C376.061 58.6591 377.453 58.3068 379.005 58.3068C380.544 58.3068 381.931 58.6591 383.164 59.3636C384.402 60.0625 385.38 61.0795 386.096 62.4148C386.817 63.75 387.178 65.3693 387.178 67.2727ZM383.436 67.2727C383.436 66.0398 383.252 65 382.882 64.1534C382.519 63.3068 382.005 62.6648 381.34 62.2273C380.675 61.7898 379.897 61.571 379.005 61.571C378.113 61.571 377.334 61.7898 376.669 62.2273C376.005 62.6648 375.488 63.3068 375.118 64.1534C374.755 65 374.573 66.0398 374.573 67.2727C374.573 68.5057 374.755 69.5455 375.118 70.392C375.488 71.2386 376.005 71.8807 376.669 72.3182C377.334 72.7557 378.113 72.9744 379.005 72.9744C379.897 72.9744 380.675 72.7557 381.34 72.3182C382.005 71.8807 382.519 71.2386 382.882 70.392C383.252 69.5455 383.436 68.5057 383.436 67.2727Z" fill="%23207013"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: block;
    font-family: 'Edu SA Beginner', cursive;
}

input {
    height: 28px;
    width: 350px;
    border-radius: 20px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.6); 
    color: black;
    border: none;
    outline: none;
    position: absolute;
    left: 50%;
    top: 139px;
    transform: translateX(-50%);
    font-family: 'Edu SA Beginner', cursive;
    font-size: 20px;
}

#btn {
    position: absolute;
    width: 70px;
    height: 20px;
    left: 930px;
    top: 145px;
    background-color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: 'Asap', sans-serif;
}

#restore {
    width: 200px;
    background-color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family: 'Asap', sans-serif;
}

li {
    cursor: pointer;
    position: relative;
    left: 400px;
    top: 200px;
    font-size: 20px;
}